body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f6f8;
}

h1 {
  color: #2c3e50;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
